<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="roomViews/roomView.style.css">
    <title>Document</title>
</head>
<body>
  <div id="room-header">
    <h1 id="room-title">Game Session code: <span id="game-session-id"></span></h1>
    <button id="leave-room-btn">Leave Room</button>
    
  </div>
  <div id="game-session-items">
  <div id="game-info">
    <form id="question-form" class="question-form" style="display: none;">
      <h3>Gamemaster, Submit a Question</h3>
      <input type="text" id="question-input" placeholder="Enter your question" required />
      <input type="text" id="answer-input" placeholder="Enter the answer" required />
      <button type="submit">Submit</button>
    </form>
    <div id="in-session">
    <div id="timer-display" ></div>
    <div id="session-question"></div>
    </div>

    <div id="scoreboard-section">
      <h3>Scoreboard:</h3>
      <ul id="scoreboard"></ul>
    </div>
    
  </div>
  <div id="game-chat">
   <div id="messages"></div>
   <div id="guess" class="guess">
    <h2 id="gameMaster-info" class="gameMaster-info">Game Masters are not involved in the game...</h2>
    <form id="guess-form" class="guess-form" action="">
      <h3></h3>
      <input id="guess-attempt" class="guess-attempt" autocomplete="off" />
      <button>Submit attempt</button>
    </form>
   </div>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form> 
  </div>
  </div>
</body>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script type="module" src="roomViews/roomView.script.js"></script>
<script src="authGuard.js"></script>
</html>